body {
	color: white;
	background-color:black;
}
#main {
	font-family: "Lucida Console", Courier;
}
#container {
}
#modal {
	background-color:rgba(80,80,80,.8);
}
.commandline {
	width: 80%;
	color: white;
	background-color:black;
}
.commandline:focus {
	color: black;
	background-color:white;
}
.talker {
	color: yellow;
}
.speech {
	color: cyan;
}
