body {
	margin: 0px;
	color: black;
	background-color: #808080;
}
#container {
	position:fixed;
	top:103px;
	left:265px;
	margin:0px; padding:0px;
	bottom:0px;
	right:0px;
	overflow-y:scroll;
	overflow-x:scroll;
	background-color: white;
}
#main {
	font-family: courier;
	font-size: 120%;
}
#modal {
	background-color:rgba(80,80,80,.8);
	font-weight:bold;
	color: white;
	text-shadow:
		0 -1px rgba(80,80,80,0.8),
		1px 0 rgba(80,80,80,0.8),
		0 1px rgba(80,80,80,0.8),
		-1px 0 rgba(80,80,80,0.8);
}
.block {
}
.error {
	color: red;
}
.commandline {
	width: 80%;
	border: none;
	font-family: courier;
}
.commandline:focus {
	border: none;
}
.talker {
	color: navy;
}
.speech {}
