body {
	margin: 0px;
	color: black;
	background-color: white;
	font-family: courier;
}
#container {
	position:fixed;
	top:103px;
	left:265px;
	margin:0px; padding:0px;
	bottom:0px;
	right:0px;
	overflow-y:scroll;
	overflow-x:scroll;
}
#main {
}
#modal {
	background-color:rgba(80,80,80,.5);
}
.block {
}
.error {
	color: red;
}
.commandline {
	width: 80%;
	border: none;
	font-family: courier;
}
.commandline:focus {
	border: none;
}
.talker {
	color: navy;
}
.speech {}
