body {
	margin: 0px;
	color: white;
	background-color: black;

	font-size: 150%;
	font-style: italic;
	font-weight: 900;
	font-family: cursive, serif;
	text-shadow:
		0 -1px rgba(80,80,80,0.8),
		1px 0 rgba(80,80,80,0.8),
		0 1px rgba(80,80,80,0.8),
		-1px 0 rgba(80,80,80,0.8);
}
#container {
	width:100%; height:100%; overflow-y:scroll; overflow-x:scroll; position:relative; margin:0px; padding:0px;
}
#main {
	background-image: url('background1a.jpg');
}
.block {
}
.error {
	color: red;
}
.commandline {
	width: 80%;
}
.commandline:focus {
}
.talker {
	color: yellow;
}
.speech {
	color: cyan;
}
