body {
	color: red;
	background-color:lightgreen;
}
#main {
	background-image: url('background1a.png');
}
.commandline {
	width: 80%;
	color: red;
	background-color:lightgreen;
}
.commandline:focus {
	color: lightgreen;
	background-color:red;
}
