body {
	margin:0px;
}
#main {
	background-image: url('background1a.jpg');
}
.block {
	font-size: 150%;
	font-style: italic;
	font-weight: 900;
	font-family: cursive, serif;
	text-shadow: 0 -1px white, 1px 0 white, 0 1px white, -1px 0 white;
}
.error {
	color: red;
}
.commandline {
	width: 80%;
}
.commandline:focus {
}
.modal_description {
	text-shadow: 0 -1px white, 1px 0 white, 0 1px white, -1px 0 white;
}
